# Same thing as .xinitrc but used when a login manager is used (use only for my dwm build)

# Start the status bar
slstatus &

# Wallpaper
#nitrogen --restore &
#variety &
$HOME/.wallpapers/zt_meteor/wallpp

# Hide mouse after 3 seconds of inactivity
unclutter -idle 3 &

# Autostart progs
discord &

# Xresources for urxvt
#xrdb ~/.Xresources
